.about {
  background: var(--code-class);
  color: white;
}

.social-icons {
  display: flex;
  flex-direction: column;
}

.social-icons i {
  font-size: 64px;
  margin-bottom: 8px;
  transition: color 0.4s ease-out;
}

.codepen i:hover {
  color: var(--codepen);
}

.github i:hover {
  color: var(--github);
}

.linkedin i:hover {
  color: var(--linkedin);
}
