.download-pdf {
  background: var(--code-class);
  color: white;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .download-pdf {
    width: calc(100vw - 64px);
  }
}
