footer {
  background: #2a2a2a;
  text-align: center;
  padding: 16px;
  color: #d8d8d8;
  font-size: 12px;
}

@media only screen and (min-device-width: 600px) {
  .split-footer {
    display: inline-block;
  }
}
