.landing {
  background: #2a2a2a;
  position: relative;
  width: 100%;
  z-index: 1;
}

.landing-logo {
  font-size: calc(36px + 2vmin);
}

.scroll-down {
  position: absolute;
  color: white;
  bottom: 0;
  right: 0;
  margin: 16px;
  animation-name: wiggle;
  animation-duration: 1.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@media only screen and (min-device-width: 1200px) {
  .split {
    display: inline-block;
  }

  .split:first-child {
    margin-right: 24px;
  }
}

@media only screen and (max-device-width: 900px) {
  .landing-logo {
    font-size: 6vmin;
  }
}

@keyframes wiggle {
  0% {
    bottom: 0;
  }

  50% {
    bottom: 10px;
  }

  100% {
    bottom: 0;
  }
}
