/* GENERAL */
body * {
  box-sizing: border-box;
}
.my-app {
  max-width: 100vw;
  box-sizing: border-box;
  font-family: monaco, Monospace;
}

.page {
  width: 100%;
  min-height: 100vh;
  padding: 100px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 600px;
  font-size: 18px;
}

.code-field {
  color: #9cdcfe;
}

.code-singleLineComment {
  color: #608b4e;
}

.code-keyword {
  color: #569cd6;
}

.code-class {
  color: #4ec9b0;
}

.code-operator {
  color: #d8d8d8;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex-1 {
  flex: 1;
}

h1 {
  color: white;
}

/* LANDING */
.landing {
  background: #2a2a2a;
  position: relative;
  width: 100%;
}

.landing-logo {
  font-size: calc(36px + 2vmin);
}

.scroll-down {
  position: absolute;
  color: white;
  bottom: 0;
  right: 0;
  margin: 16px;
}

.arrow {
  font-size: 36px;
  height: 42px;
  width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow a {
  width: 50%;
}

.arrow-down a {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

.arrow-down a:hover {
  cursor: pointer;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.rotate-90 {
  transform: rotate(90deg);
}

.float-right {
  float: right;
}

/* ABOUT */
.about {
  background: #4ec9b0;
  color: white;
}

/* RESUME */
.resume {
  background: #2a2a2a;
  color: white;
}

/* HEADER */
header {
  background: #2a2a2a;
  padding: 16px;
  display: flex;
  color: white;
  align-items: center;
  position: sticky;
  top: 0;
  box-shadow: 0 1px 8px 0 rgba(255, 255, 255, 0.2);
}

header .box {
  flex: 1;
  display: flex;
  justify-content: center;
}

header .box.right {
  text-align: right;
}

.box:first-child > span {
  margin-right: auto;
}

.box:last-child > span {
  margin-left: auto;
}

header .nav a {
  padding: 8px 24px;
  font-size: 24px;
}

header .nav a.active {
  border-bottom: 2px solid white;
}

/* FOOTER */
footer {
  background: #2a2a2a;
  text-align: center;
  padding: 8px;
  color: #d8d8d8;
  font-size: 12px;
}
